<table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">開始時間</th>
      <th scope="col">終了時間</th>
      <th scope="col">会議室名</th>
      <th scope="col"></th> <!-- 編集ボタン -->
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.name %></td>
      <td><%= schedule.start_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= schedule.end_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= schedule.room.name %></td>
      <td><%= button_to "編集", edit_schedule_path(schedule), {method: :get, class: "btn-primary"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>