<h1>新規登録</h1>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :l_name, "姓" %>
      <%= f.text_field :l_name %>
      
      <%= f.label :f_name, "名" %>
      <%= f.text_field :f_name %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>