<%= form_for @schedule do |f| %>
  <%= render 'shared/schedule_error_messages', object: @schedule %>
  <% if @room %>
    <%= f.hidden_field :room_id, value: @room.id %>
  <% end %>
  <div class="row pb-2">
    <div class="col">
      <%= f.label :start_at, "開始日時" %>
      <%= raw sprintf(
            f.datetime_select(
              :start_at,
              use_month_numbers: true,
              start_year: (Time.current.year),
              end_year: (Time.current.next_year.year),
              default: Date.today + @room.open_at.hour.hours + @room.open_at.min.minutes,
              date_separator: '%s'),
            '年 ', '月 ')
      %>
      <!--<%= f.time_field :start_at, class: 'form-control' %>-->
    </div>
    <div class="col">
      <%= f.label :end_at, "終了日時" %>
      <%= raw sprintf(
            f.datetime_select(
              :end_at,
              use_month_numbers: true,
              start_year: (Time.current.year),
              end_year: (Time.current.next_year.year),
              default: Date.today + @room.close_at.hour.hours + @room.close_at.min.minutes,
              date_separator: '%s'),
            '年 ', '月 ')
      %>
      <!--<%= f.time_field :end_at, class: 'form-control' %>-->
    </div>
  </div>
  
  <%= f.label :name, "タイトル" %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :content, "内容" %>
  <%= f.text_area :content, {class: 'form-control', rows: '6'} %>
  
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>