<div class="mb-4">
  <h2>開始時間</h2>
  <%= @schedule.start_at.strftime("%Y年%m月%d日 %H:%M") %>
  <h2>終了時間</h2>
  <%= @schedule.end_at.strftime("%Y年%m月%d日 %H:%M") %>
  <h2>タイトル</h2>
  <%= @schedule.name %>
  <h2>内容</h2>
  <%= @schedule.content %>
  <h2>予約会議室名</h2>
  <%= @schedule.room.name %>
</div>

<div class="container">
  <div class="row">
    <%= button_to "編集", edit_schedule_path, {method: :get, class: "col btn-secondary"} %>
  </div>
</div>