<h2 class="pb-4">予約の新規作成</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_for @schedule, url: "#" do |f| %>
        <%= render 'shared/schedule_error_messages', object: @schedule %>
        
        <div class="row">
          <div class="col">
            <%= f.label :start_at, "開始時刻" %>
            <%= f.time_field :start_at, class: 'form-control' %>
          </div>
          <div class="col">
            <%= f.label :end_at, "終了時刻" %>
            <%= f.time_field :end_at, class: 'form-control' %>
          </div>
        </div>
        
        <%= f.label :name, "タイトル" %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, {class: 'form-control', rows: '6'} %>
        
        <%= f.submit "新規作成", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>