<div class="containe pb-4">
  <div class="row">
    <div class="col-md-8"><h2 class="border-bottom mb-2"><%= @room.name %></h2></div>
    <div class="col-md"><%= button_to "新規予約", "/rooms/#{@room.id}/schedule", {method: :get, class: "btn-primary"} %></div>
  </div>
</div>

<div id="calendar"></div>

<h2 class="mt-3">収容人数</h2>
<%= @room.capacity %>

<h2>利用金額</h2>
<%= @room.price %>

<h2>使用可能時間</h2>
<%= @room.open_at.strftime("%H:%M") %> ~ <%= @room.close_at.strftime("%H:%M") %>
