<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "会議室予約システム", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "会議室一覧",   '#' %></li>
        <li><%= link_to "マイカレンダー",   '#' %></li>
        <li><%= link_to "マイページ", '#' %></li>
        <li><%= link_to "ログアウト", '#' %></li>
      </ul>
    </nav>
  </div>
</header>