<!DOCTYPE html>
<html>
  <head>
    <title>会議室予約システム</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container-fluid p-0">
      <%= render 'layouts/navbar' %>
      <div class="row">
        <%= render 'layouts/sidebar' %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="align-items-center pb-2 mb-3 border-bottom">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
